html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* font-size: 1.2rem; */
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  /* width: 100%; */
}

li {
  list-style-type: none;
}

li:nth-child(2n) {
  background-color: gainsboro;
}

#root {
  flex: 1;
}

